## Strings
### String is an ordered collection of characters(unicode) which is immutable

In [1]:
string = "This is a statement"
string_again = "This is also a statement"

In [2]:
string

'This is a statement'

In [3]:
string_again

'This is also a statement'

In [4]:
print(string)
print(string_again)

This is a statement
This is also a statement

In [6]:
string.capitalize()

'This is a statement'

In [7]:
string.casefold()

'this is a statement'

In [8]:
string.endswith("t")

True

In [9]:
string.find("is") # this gives first occurence

2

In [12]:
print(string)
print(string.islower())

This is a statement
False

In [13]:
string.split(" ")

['This', 'is', 'a', 'statement']

In [14]:
string.count("is")

2

In [15]:
string.upper()

'THIS IS A STATEMENT'

In [16]:
string.upper().lower()

'this is a statement'

In [17]:
string.rfind("is")

5

In [18]:
string_again

'This is also a statement'

In [19]:
string_again.index("a")

8

# Lists
### List is an ordered collection of objects (any type) that is mutable as well as dynamic

In [20]:
my_list = [12, 23, 34, "This is a string", 12.123, 2020.080, True, len]
print(my_list)

[12, 23, 34, 'This is a string', 12.123, 2020.08, True, <built-in function len>]

In [21]:
len(my_list)

8

In [22]:
my_list.append("I am added")

In [23]:
my_list

[12,
 23,
 34,
 'This is a string',
 12.123,
 2020.08,
 True,
 <function len(obj, /)>,
 'I am added']

In [24]:
len(my_list)

9

In [25]:
my_list.pop()

'I am added'

In [26]:
my_list

[12, 23, 34, 'This is a string', 12.123, 2020.08, True, <function len(obj, /)>]

In [27]:
my_list.pop(-1)

In [32]:
print(my_list)
my_list = [12, 23, 34, 'This is a string', 12.123, 2020.08, True]

[12, 23, 'This is a string', 2020.08, True]

In [33]:
my_list.pop(3) # it removes the string at index 2

'This is a string'

In [34]:
my_list

[12, 23, 34, 12.123, 2020.08, True]

In [35]:
my_list.reverse()

In [36]:
my_list

[True, 2020.08, 12.123, 34, 23, 12]

In [37]:
copied_list = my_list.copy()
print(copied_list)

[True, 2020.08, 12.123, 34, 23, 12]

In [38]:
my_list.clear()

In [39]:
my_list

[]

In [40]:
copied_list

[True, 2020.08, 12.123, 34, 23, 12]

In [41]:
copied_list.extend([1, 2, 3, 4, 5, 6, 7])

In [42]:
copied_list

[True, 2020.08, 12.123, 34, 23, 12, 1, 2, 3, 4, 5, 6, 7]

In [44]:
copied_list[len(copied_list)-1]

7

In [45]:
copied_list

[True, 2020.08, 12.123, 34, 23, 12, 1, 2, 3, 4, 5, 6, 7]

In [46]:
copied_again = copied_list[::]

In [47]:
copied_again

[True, 2020.08, 12.123, 34, 23, 12, 1, 2, 3, 4, 5, 6, 7]

In [48]:
copied_again.index(2)

7

In [49]:
copied_again.sort()

In [50]:
copied_again

[True, 1, 2, 3, 4, 5, 6, 7, 12, 12.123, 23, 34, 2020.08]

In [51]:
copied_again.remove(True)

In [52]:
copied_again

[1, 2, 3, 4, 5, 6, 7, 12, 12.123, 23, 34, 2020.08]

In [55]:
copied_again.insert(2, 1)
copied_again

[1, 2, 1, 1, 3, 4, 5, 6, 7, 12, 12.123, 23, 34, 2020.08]

In [54]:
copied_again.count(1)

2

# Tuples
### Tuple is a fixed and immutable collection of objects, similar to lists

In [56]:
my_tup = (1, 2, 3, 4, "abc", "python", "R")

In [57]:
my_tup

(1, 2, 3, 4, 'abc', 'python', 'R')

In [58]:
my_tup.count(1)

1

In [59]:
my_tup.count("R")

1

In [60]:
my_tuple_again = my_tup

In [61]:
my_tuple_again

(1, 2, 3, 4, 'abc', 'python', 'R')

In [62]:
tup = my_tup + my_tuple_again

In [63]:
tup

(1, 2, 3, 4, 'abc', 'python', 'R', 1, 2, 3, 4, 'abc', 'python', 'R')

In [64]:
tup.count("abc")

2

# Dictionaries
### Dictionary is an unordered collection of key-value pairs, where key is a hashable type and value can be of any type

In [65]:
my_dict = {"Akash": 29, "Suraj":12, "Anup": 123, "Divya":134}

In [66]:
my_dict

{'Akash': 29, 'Suraj': 12, 'Anup': 123, 'Divya': 134}

In [67]:
my_dict["Anup"]

123

In [68]:
my_dict["Divya"] = 13
my_dict

{'Akash': 29, 'Suraj': 12, 'Anup': 123, 'Divya': 13}

In [69]:
my_dict.items()

dict_items([('Akash', 29), ('Suraj', 12), ('Anup', 123), ('Divya', 13)])

In [70]:
list(my_dict.items())

[('Akash', 29), ('Suraj', 12), ('Anup', 123), ('Divya', 13)]

In [71]:
my_dict.keys()

dict_keys(['Akash', 'Suraj', 'Anup', 'Divya'])

In [72]:
my_dict.values()

dict_values([29, 12, 123, 13])

In [74]:
my_dict.pop("Suraj")

12

In [75]:
my_dict

{'Akash': 29, 'Anup': 123, 'Divya': 13}

In [76]:
my_dict.get("Akash")

29

In [78]:
my_dict.get("Akavya") # key does not exist

In [79]:
another_dict = my_dict.copy()

In [80]:
another_dict

{'Akash': 29, 'Anup': 123, 'Divya': 13}

In [82]:
another_dict.setdefault("Akash")

29

# Sets
### Set is an unordered collection of unique objects

In [83]:
my_set = {1, 2, 3, 4, 5, 6, 2 , 1}

In [84]:
my_set

{1, 2, 3, 4, 5, 6}

In [85]:
len(my_set)

6

In [86]:
my_set.add(7)

In [87]:
my_set

{1, 2, 3, 4, 5, 6, 7}

In [88]:
print(len(my_set))

7

In [89]:
my_set.pop()

1

In [90]:
my_set

{2, 3, 4, 5, 6, 7}

In [91]:
small_set = {2,3,4}

In [92]:
small_set.issubset(my_set)

True

In [93]:
small_set.union(my_set)

{2, 3, 4, 5, 6, 7}

In [94]:
my_set.intersection(small_set)

{2, 3, 4}

In [95]:
my_set.issuperset(small_set)

True

In [96]:
my_set.isdisjoint({1,5})

False

In [97]:
small_set.isdisjoint({1})

True

In [98]:
small_set.remove(2)

In [99]:
small_set

{3, 4}

In [100]:
print(small_set, my_set)

{3, 4} {2, 3, 4, 5, 6, 7}

In [101]:
small_set.pop()

3

In [102]:
print(small_set, my_set)

{4} {2, 3, 4, 5, 6, 7}

In [103]:
small_set.pop()

4

In [104]:
small_set

set()

In [105]:
small_set = my_set.copy()

In [106]:
small_set

{2, 3, 4, 5, 6, 7}

In [107]:
small_set.union(small_set)

{2, 3, 4, 5, 6, 7}

## Done for Day 2, Batch 3 by AKASH MAJI, akashmaji946@gmail.com, 9131697371
### LetsUpgrade